{% extends "base.html" %} {% load static %} {% block content %} 
{% if user.is_superuser %} {% if not user.is_anonymous %}

<link rel="stylesheet" href="{% static 'css/today_meal.css' %}" />

<div class="select-dish">
  <div class="select-dish-container">
    {% if messages %} {% for message in messages %}
    <p style="color: red">{{ message }}</p>
    {% endfor %} {% endif %}
    <h1>Selecionar as refeições do dia</h1>
    <div class="registered-dish">
      <h2>Almoços cadastrados</h2>
      <div class="registered-dish-container">
        {% for almoco in almocos %}
        <div class="card-dish">
          <img src="{{almoco.image.url}}" alt="" />
          <div class="description">
            <p class="description-title">Descrição:</p>
            <p class="description-text">{{almoco.description}}</p>
          </div>
          <div class="selectDishToDay">
            <a
              href="{% url 'select-snack' almoco.id %}"
              class="btn-select-dish"
              title="Seleciona a refeição do dia"
              >Selecionar</a
            >
            {% if almoco.snack_to_day %}
            <a
              title="Retira da refeição o titulo de refeição do dia"
              href="{% url 'remove-snack' almoco.id %}"
              ><img
                src="{% static 'img/x-circle.svg' %}"
                alt=""
                id="imageRemove"
            /></a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="registered-dish">
      <h2>Jantas cadastradas</h2>
      <div class="registered-dish-container">
        {% for janta in jantares %}
        <div class="card-dish">
          <img src="{{janta.image.url}}" alt="" />
          <div class="description">
            <p class="description-title">Descrição:</p>
            <p class="description-text">{{janta.description}}</p>
          </div>
          <div class="selectDishToDay">
            <a
              href=""
              class="btn-select-dish"
              title="Seleciona a refeição do dia"
              >Selecionar</a
            >
            {% if janta.snack_to_day %}
            <a
              title="Retira da refeição o titulo de refeição do dia"
              href=""
              ><img
                src="{% static 'img/x-circle.svg' %}"
                alt=""
                id="imageRemove"
            /></a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endif %} {% endif %} {% endblock %}
