{% extends "base.html" %}
{% block content %}
<div class="ContainerRequest">
    <div class="ContainerContent">
        <div class="ContainerAlign">
            <h1>{% if object %}Editar Solicitação{% else %}Solicitar Refeição{% endif %}</h1>
            <form method="post" class="formulario">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Enviar Solicitação" id="request-button" />
            </form>
        </div>
    </div>
</div>
{% endblock %}



