{% extends "base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/today_meal.css' %}" />

  <div class="select-dish">
    <div class="select-dish-container">
      <h1>Refeições da semana</h1>
      <table border="1">
        <thead>
          <tr>
            {% for day in week_days %}
              <th>{{ day }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for day in week_days %}
              <td>
                <strong>Almoço</strong><br>
                {% for meal in lunch %}
                  <p>{{ meal.description }}</p>
                {% empty %}
                  <p>Nenhum almoço cadastrado.</p>
                {% endfor %}
                <hr>
                <strong>Jantar</strong><br>
                {% for meal in dinner %}
                  <p>{{ meal.description }}</p>
                {% empty %}
                  <p>Nenhuma janta cadastrada.</p>
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
