{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/today_menu.css' %}" />

<div class="ContainerMenu">
  <h1>Cardápio do dia:</h1>
  <p style="color: red">{{ message }}</p>

  <div class="ContainerSnack">
    <div class="ContainerTwoSnacks">
      <div class="snacks">
        <h1>Almoço do dia</h1>
        {% if lunch %}
          <div class="card-dish">
            <img src="{{ lunch.0.image.url }}" alt="Imagem do prato" />
            <div class="description">
              <p class="description-title">Descrição:</p>
              <p class="description-text">{{ lunch.0.description }}</p>
            </div>
          </div>
        {% else %}
          <p>Nenhum almoço disponível.</p>
        {% endif %}
      </div>
    </div>

    <div class="ContainerTwoSnacks">
      <div class="snacks">
        <h1>Jantar do dia</h1>
        {% if dinner %}
          <div class="card-dish">
            <img src="{{ dinner.0.image.url }}" alt="Imagem do prato" />
            <div class="description">
              <p class="description-title">Descrição:</p>
              <p class="description-text">{{ dinner.0.description }}</p>
            </div>
          </div>
        {% else %}
          <p>Nenhum jantar disponível.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
