{% extends "base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/today_meal.css' %}" />

  <div class="select-dish">
    <div class="select-dish-container">
      <h1>Refeições do dia</h1>
      <div class="registered-dish">
        <h2>Almoços disponíveis</h2>
        <div class="registered-dish-container">
          {% for meal in lunch %}
            <div class="card-dish">
              <img src="{{ meal.image.url }}" alt="Imagem do prato" />
              <div class="description">
                <p class="description-title">Descrição:</p>
                <p class="description-text">{{ meal.description }}</p>
              </div>
              
            </div>
          {% empty %}
            <p>Nenhum almoço cadastrado.</p>
          {% endfor %}
        </div>
      </div>

      <div class="registered-dish">
        <h2>Jantares disponíveis</h2>
        <div class="registered-dish-container">
          {% for meal in dinner %}
            <div class="card-dish">
              <img src="{{ meal.image.url }}" alt="Imagem do prato" />
              <div class="description">
                <p class="description-title">Descrição:</p>
                <p class="description-text">{{ meal.description }}</p>
              </div>
              
            </div>
          {% empty %}
            <p>Nenhuma janta cadastrada.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
