{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/today_menu.css' %}" />

<div class="ContainerMenu">
  <h1>Refeições do dia:</h1>
  
  <p style="color: red">{{ message }}</p>
  
  <div class="ContainerSnack">
    <div class="ContainerTwoSnacks">
      <div class="snacks">
        <h1>Almoço do dia</h1>
        
        <div class="ContainerImgSnack">
          <img src="{% static 'img/almoco.png' %}" alt="almoco" />
        </div>
        <div class="menuLike">
          <p>PF da Lúcia</p>
          <span class="like">
            <a href="" class="link">
              <img src="{% static 'img/like.png' %}" alt="like" />
              <p>5</p>
            </a>
          </span>
        </div>
        <p class="snack-description">{{ almoco_snack.description }}</p>
        {% if not user.is_anonymous %}
        <a href="request-snack" id="requestSnack">Solicitar refeição</a>
        {% endif %}
        
      </div>
    </div>
    <div class="ContainerTwoSnacks">
      <div class="snacks">
        <h1>Jantar do dia</h1>
        
        <div class="ContainerImgSnack">
          <img src="{% static 'img/janta.png' %}" alt="janta" />
        </div>
        <div class="menuLike">
          <p>Macarronada</p>
          <span class="like">
            <a href="" class="link">
              <img src="{% static 'img/like.png' %}" alt="like" />
              <p>10</p>
            </a>
          </span>
        </div>
        <p class="snack-description">{{ janta_snack.description }}</p>
        {% if not user.is_anonymous %}
        <a href="request-snack" id="requestSnack">Solicitar refeição</a>
        {% endif %}
        
      </div>
    </div>
  </div>
  <div class="clock">
    <div>
      <span id="hour">00</span>
      <span class="time">Horas</span>
    </div>
    <div>
      <span id="minutes">00</span>
      <span class="time">Minutos</span>
    </div>
    <div>
      <span id="seconds">00</span>
      <span class="time">Segundos</span>
    </div>
  </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
