{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/today_menu.css' %}" />

<div class="ContainerMenu">
  <h1>Refeições do dia:</h1>
  {% if messages %} {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %} {% endif %}
  <div class="ContainerSnack">
    <div class="ContainerTwoSnacks">
      <div class="snacks">
        <h1>Almoço do dia</h1>
        {% for almoco_snack in almoco %}
        <div class="ContainerImgSnack">
          <img src="{{ almoco_snack.image.url }}" alt="almoco" />
        </div>
        <div class="menuLike">
          <p>Cardápio:</p>
          <span class="like">
            <a href="{% url 'update-like' almoco_snack.id %}" class="link">
              <img src="{% static 'img/like.png' %}" alt="like" />
              <p>{{ almoco_snack.likes }}</p>
            </a>
          </span>
        </div>
        <p class="snack-description">{{ almoco_snack.description }}</p>
        {% if not user.is_anonymous %}
        <a href="request-snack" id="requestSnack">Solicitar refeição</a>
        {% endif %} {% if user.is_anonymous %}
        <a href="{% url 'social:begin' 'suap' %}" class="requestSnackc"
          >Solicitar refeição</a
        >
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="ContainerTwoSnacks">
      <div class="snacks">
        <h1>Jantar do dia</h1>
        {% for janta_snack in janta %}
        <div class="ContainerImgSnack">
          <img src="{{ janta_snack.image.url }}" alt="janta" />
        </div>
        <div class="menuLike">
          <p>Cardápio:</p>
          <span class="like">
            <a href="{% url 'update-like' janta_snack.id %}" class="link">
              <img src="{% static 'img/like.png' %}" alt="like" />
              <p>{{ janta_snack.likes }}</p>
            </a>
          </span>
        </div>
        <p class="snack-description">{{ janta_snack.description }}</p>
        {% if not user.is_anonymous %}
        <a href="request-snack" id="requestSnack">Solicitar refeição</a>
        {% endif %} {% if user.is_anonymous %}
        <a href="{% url 'social:begin' 'suap' %}" class="requestSnackc"
          >Solicitar refeição</a
        >
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  <div class="clock">
    <div>
      <span id="hour">00</span>
      <span class="time">Horas</span>
    </div>
    <div>
      <span id="minutes">00</span>
      <span class="time">Minutos</span>
    </div>
    <div>
      <span id="seconds">00</span>
      <span class="time">Segundos</span>
    </div>
  </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
