.my-request-container {
    max-width: 1280px;
    width: 90%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2em 1em;
    border-radius: 0.5em;
    min-height: 800px;
}

.my-request-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
    align-items: center;
}

.my-request-container h1 {
    color: #00875F;
    text-align: center;
}

.card-request {
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 1.5em;
    border-radius: 0.5em;
    width: 327px;
    height: 140px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-request p {
    cursor: default;
}

.request-date {
    font-weight: normal;
}

.data-request {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.situation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.situation-accept {
    padding: 0.8em;
    background-color: #00875F;
    border-radius: 0.5em;
    color: white;
}

.situation-reject {
    padding: 0.8em;
    background-color: #E74C3C;
    border-radius: 0.5em;
    color: white;
}

.situation-pending {
    padding: 0.8em;
    background-color: #ED970E;
    border-radius: 0.5em;
    color: white;
}

.type-request-text {
    font-weight: normal;
}


@media (max-width: 1064px) {
    .my-request-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .my-request-content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 384px) {
    .card-request {
        display: flex;
        flex-direction: column;
        
    }

    .data-request {
        align-items: center;
    }
}