.ContainerAllRequestNeal {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    margin: 32px 0;
    overflow: hidden;
  }
  
  .ContentAllRequestNeal {
    overflow-y: scroll;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding: 2em 0;
  }
  .ContentAllRequestNeal::-webkit-scrollbar {
    width: 12px;
  }
  
  .ContentAllRequestNeal::-webkit-scrollbar-thumb {
    background: #00875e;
    border-radius: 6px;
  }
  
  .ContentAllRequestNeal::-webkit-scrollbar-track {
    background: #fcfcfc;
  }
  
  .QtdAllRequestNeal {
    color: #00875e;
    font-size: 16px;
    gap: 4px;
    display: flex;
    position: absolute;
    left: 100px;
    display: flex;
    align-items: center;
  }
  
  .QtdAllRequestNeal > strong{
    font-size: 20px;
  }
  
  .HeaderAllRequestNeal > h1 {
    color: #00875e;
    font-size: 48px;
    text-align: center;
  }
  
  .HeaderAllRequestNeal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .AllRequestNeal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 32px;
  }
  
  .Neal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcfcfc;
    width: 600px;
    border: 0;
    border-radius: 4px;
    padding: 16px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .Neal > h1 {
    font-size: 20px;
    color: #00875e;
    margin: 0;
  }
  
  .ContentNeal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .ContentNealTxt {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
  }
  .ContentNealTxt > h4 {
    color: black;
    font-size: 16px;
    margin: 0;
  }
  .ContentNealTxt > p {
    color: #1a1a1b;
    font-size: 14px;
    margin: 0;
  }
  .ContentNealButtons {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-right: 16px;
  }
  
  #btnApprove {
    text-decoration: none;
    text-align: center;
    color: white;
    background: #00875f;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
  }
  
  #btnApprove:hover {
    background: #00b37e;
  }
  
  #btnReject {
    text-decoration: none;
    color: white;
    background: #e74c3c;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
  }
  
  #btnReject:hover {
    opacity: 90%;
  }
  
  @media (max-width: 1280px) {
    .AllRequestNeal {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
    .HeaderAllRequestNeal > h1 {
      font-size: 28px;
    }
    .QtdAllRequestNeal p:first-child {
      display: none;
    }
    .QtdAllRequestNeal {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      background: #00875e;
      font-weight: bold;
      color: #e1e1e6;
      border-radius: 1em;
      width: 32px;
      height: 32px;
      padding: 1em;
      left: 16px;
    }
    .Neal {
      width: 400px;
      height: auto;
    }
    .Neal > h1 {
      font-size: 16px;
    } 
    .ContentNealTxt > h4 {
      font-size: 12px;
    }
    .ContentNealTxt > p {
      font-size: 10px;
    }
    .ContentNealButtons {
      gap: 28px;
    }
    #btnReject {
      padding: 4px 10px;
      text-align: center;
      font-size: 10px;
    }
    #btnApprove {
      padding: 4px 10px;
      text-align: center;
      font-size: 10px;
    }
  }
  
  
  @media (max-width: 768px) {
  
    .Neal {
      max-width: 90%;
      width: 90%;
      margin: 0 auto;
    }
  
    .ContentNeal {
      flex-direction: column;
      text-align: center;
    }
  
    .ContentNealTxt {
      gap: 1em;
    }
  
    .ContentNealButtons {
      margin: 0;
    }
  
    .HeaderAllRequestNeal > h1 {
      font-size: 1.5rem;
    }
  
    #btnApprove {
      padding: 1em 2em;
    }
  
    #btnReject {
      padding: 1em 2em;
    }
  
  }